In [1]:
#Importando as bibliotecas necessárias
import pandas as pd
import pyodbc
import saspy

In [2]:
#Usando o método do pandas read_excel pra ler e criar um dataframe com os dados do arquivo DadosACADEMY2019.xlsx
vendas2019_dataframe = pd.read_excel(r'C:\Users\gilberto\Desktop\SDC AcademY\Dados\DadosACADEMY2019.xlsx')

In [2]:
#Conectando ao arquivo Estados.accdb usando o método connect do pyodbc
conexao = pyodbc.connect(r'''Driver={Microsoft Access Driver (*.mdb, *.accdb)};
                      DBQ=C:\Users\gilberto\Desktop\SDC AcademY\Dados\Estados.accdb;''')

#Criando um objeto cursor para executar comandos SQL
cursor = conexao.cursor()

#Comando SQL para exibir todas as linhas e colunas
comando_sql = f'SELECT * FROM Estados'

# Executando a consulta SQL para carregar os resultados em um DataFrame
estados_dataframe = pd.read_sql_query(comando_sql, conexao)

# Fechando a conexão estabelecida na primeira linha, já que não é mais necessária
conexao.close()

C:\Anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,CodEstado,Nome,Sigla,Capital,PercImposto,CodRegiao
0,1.0,Acre,AC,Rio Branco,0.12,2.0
1,2.0,Alagoas,AL,Maceió,0.09,1.0
2,3.0,Amapá,AP,Macapá,0.13,2.0
3,4.0,Amazonas,AM,Manaus,0.08,2.0
4,5.0,Bahia,BA,Salvador,0.15,1.0
5,6.0,Ceará,CE,Fortaleza,0.13,1.0
6,7.0,Distrito Federal,DF,Brasília,0.12,3.0
7,8.0,Espírito Santo,ES,Vitória,0.12,4.0
8,9.0,Goiás,GO,Goiânia,0.11,3.0
9,10.0,Maranhão,MA,São Luís,0.09,1.0
10,11.0,Mato Grosso,MT,Cuiabá,0.17,3.0
11,12.0,Mato Grosso do Sul,MS,Campo Grande,0.18,3.0
12,13.0,Minas Gerais,MG,Belo Horizonte,0.12,4.0
13,14.0,Pará,PA,Belém,0.10,2.0
14,15.0,Paraíba,PB,João Pessoa,0.09,1.0
15,16.0,Paraná,PR,Curitiba,0.09,5.0
16,17.0,Pernambuco,PE,Recife,0.10,1.0
17,18.0,Piauí,PI,Teresina,0.16,1.0
18,19.0,Rio de Janeiro,RJ,Rio de Janeiro,0.14,4.0
19,20.0,Rio Grande do Norte,RN,Natal,0.11,1.0
20,21.0,Rio Grande do Sul,RS,Porto Alegre,0.17,5.0
21,22.0,Rondônia,RO,Porto Velho,0.13,2.0
22,23.0,Roraima,RR,Boa Vista,0.11,2.0
23,24.0,Santa Catarina,SC,Florianópolis,0.13,5.0
24,25.0,São Paulo,SP,São Paulo,0.13,4.0
25,26.0,Sergipe,SE,Aracaju,0.18,1.0
26,27.0,Tocantins,TO,Palmas,0.15,2.0

In [4]:
#Criando um dataframe a partir do arquivo Departamentos.csv
departamentos_dataframe = pd.read_csv(r'C:\Users\gilberto\Desktop\SDC AcademY\Dados\Departamentos.csv', sep=";")

In [5]:
#Executando os métodos info e describe na tabela de vendas
vendas2019_dataframe.info()
vendas2019_dataframe.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CodProduto   499 non-null    int64
 1   CodCor       499 non-null    int64
 2   CodTamanho   499 non-null    int64
 3   CodEstado    499 non-null    int64
 4   DataVenda    499 non-null    datetime64[ns]
 5   Vendedor     499 non-null    int64
 6   QtdeVendida  499 non-null    int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 27.4 KB

       CodProduto      CodCor  CodTamanho   CodEstado    Vendedor  QtdeVendida
count   499.00000  499.000000  499.000000  499.000000  499.000000    499.00000
mean   1505.53507    5.418838    2.545090   14.004008    2.877756    100.88978
std     877.37977    2.782426    1.138709    7.810763    1.423796     59.91153
min       6.00000    1.000000    1.000000    1.000000    1.000000      1.00000
25%     722.50000    3.000000    2.000000    7.000000    2.000000     48.00000
50%    1545.00000    5.000000    3.000000   14.000000    3.000000     99.00000
75%    2262.00000    8.000000    4.000000   21.000000    4.000000    154.50000
max    3000.00000   10.000000    4.000000   27.000000    5.000000    200.00000

In [6]:
#Executando os métodos info e describe na tabela de Estados
estados_dataframe.info()
estados_dataframe.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CodEstado    27 non-null     float64
 1   Nome         27 non-null     object
 2   Sigla        27 non-null     object
 3   Capital      27 non-null     object
 4   PercImposto  27 non-null     float64
 5   CodRegiao    27 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.4+ KB

       CodEstado  PercImposto  CodRegiao
count  27.000000    27.000000  27.000000
mean   14.000000     0.125926   2.444444
std     7.937254     0.028991   1.395965
min     1.000000     0.080000   1.000000
25%     7.500000     0.105000   1.000000
50%    14.000000     0.120000   2.000000
75%    20.500000     0.145000   3.500000
max    27.000000     0.180000   5.000000

In [7]:
#Executando os métodos info e describe na tabela de Departamentos
departamentos_dataframe.info()
departamentos_dataframe.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CodDepto   10 non-null     int64
 1   Descricao  10 non-null     object
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

       CodDepto
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

In [8]:
#Criando uma tabela de contingência usando o código dos produtos como linhas e o código dos estados como colunas
vendas_por_estado = pd.crosstab(index=vendas2019_dataframe["CodProduto"], 
                                columns=vendas2019_dataframe["CodEstado"], 
                                margins=True, 
                                margins_name="Total")

In [9]:
vendas_por_data = pd.crosstab(index=vendas2019_dataframe["CodProduto"], columns=vendas2019_dataframe["DataVenda"], margins=True, margins_name="Total")

In [10]:
vendas_por_estado.describe()

CodEstado,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,Total
count,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,...,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.00000,457.000000,457.000000,457.000000
mean,0.078775,0.083151,0.083151,0.109409,0.065646,0.061269,0.083151,0.091904,0.061269,0.087527,...,0.078775,0.083151,0.074398,0.087527,0.061269,0.083151,0.09628,0.091904,0.065646,2.183807
std,0.862427,0.909068,0.909068,1.188883,0.722494,0.682302,0.909068,1.002344,0.675843,0.957998,...,0.862427,0.909068,0.815785,0.955706,0.675843,0.909068,1.04898,1.002344,0.722494,23.293256
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000
max,18.000000,19.000000,19.000000,25.000000,15.000000,14.000000,19.000000,21.000000,14.000000,20.000000,...,18.000000,19.000000,17.000000,20.000000,14.000000,19.000000,22.00000,21.000000,15.000000,499.000000

In [11]:
vendas_por_data.describe()

DataVenda,2019-01-01 00:00:00,2019-01-03 00:00:00,2019-01-04 00:00:00,2019-01-05 00:00:00,2019-01-07 00:00:00,2019-01-08 00:00:00,2019-01-09 00:00:00,2019-01-10 00:00:00,2019-01-12 00:00:00,2019-01-13 00:00:00,...,2019-12-22 00:00:00,2019-12-23 00:00:00,2019-12-24 00:00:00,2019-12-25 00:00:00,2019-12-26 00:00:00,2019-12-27 00:00:00,2019-12-28 00:00:00,2019-12-29 00:00:00,2019-12-30 00:00:00,Total
count,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,...,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000
mean,0.004376,0.008753,0.004376,0.004376,0.013129,0.017505,0.004376,0.017505,0.008753,0.008753,...,0.004376,0.017505,0.013129,0.008753,0.008753,0.004376,0.004376,0.004376,0.013129,2.183807
std,0.066082,0.114373,0.066082,0.066082,0.161688,0.208692,0.066082,0.208692,0.114373,0.114373,...,0.066082,0.208692,0.161688,0.114373,0.114373,0.066082,0.066082,0.066082,0.161688,23.293256
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,2.000000,1.000000,1.000000,3.000000,4.000000,1.000000,4.000000,2.000000,2.000000,...,1.000000,4.000000,3.000000,2.000000,2.000000,1.000000,1.000000,1.000000,3.000000,499.000000

In [12]:
sas= saspy.SASsession(cfgname ="vmacademy2");

Username: gilberto
Password: ········
SAS Connection established. Workspace UniqueIdentifier is DCB44209-18A7-364F-961E-02833BD5530A

In [14]:
#Criando um dataframe a partir da tabela SAS de vendas pós limpeza e análise dos dados
vendas_dataframe = sas.sasdata(libref='gilberto', table='vendas_limpo').to_df()

In [15]:
#Concatenando o dataframe vendas com o dataframe vendas2019
concat = pd.concat([vendas2019_dataframe, vendas_dataframe], ignore_index=True)

In [16]:
#Fazendo merge da tabela estados e da tabela vendas
merge_estados_vendas = pd.merge(concat, estados_dataframe, on="CodEstado")

In [17]:
#Criando um dataframe a partir da tabela SAS Vendedores 
vendedores_dataframe = sas.sasdata(libref='gilberto', table='vendedores').to_df()

#Fazendo merge do dataframe anterior com com o dataframe vendedores de acordo com o código do vendedor
merge_vendedores = pd.merge(merge_estados_vendas, vendedores_dataframe, left_on="Vendedor", right_on="CodVend")

#Renomeando as colunas com nomes iguais
merge_vendedores.rename(columns={'Nome_x': 'NomeEstado', 'Nome_y': 'NomeVendedor'}, inplace=True)

In [18]:
#Criando um dataframa da tabela de Cores do SAS
cores_dataframe = sas.sasdata(libref='gilberto', table='Cores').to_df()

#Fazendo o merge do dataframe anterior com o dataframe Cores, de acordo com o código de cor
merge_cores = pd.merge(merge_vendedores, cores_dataframe, on="CodCor")

#Renomeando a coluna Descricao
merge_cores.rename(columns={'Descricao': 'DescricaoCor'}, inplace=True)

merge_cores.head(10)

,CodProduto,CodCor,CodTamanho,CodEstado,DataVenda,Vendedor,QtdeVendida,NomeEstado,Sigla,Capital,PercImposto,CodRegiao,CodVend,NomeVendedor,DescricaoCor
0,2909.0,7.0,1.0,22.0,2019-05-02,4.0,33.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
1,1985.0,7.0,2.0,22.0,2021-04-23,4.0,127.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
2,2490.0,7.0,2.0,22.0,2020-08-13,4.0,87.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
3,957.0,7.0,2.0,22.0,2020-04-15,4.0,11.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
4,1341.0,7.0,1.0,22.0,2021-05-08,4.0,60.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
5,340.0,7.0,1.0,22.0,2021-12-10,4.0,153.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
6,2483.0,7.0,3.0,22.0,2020-02-05,4.0,128.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
7,636.0,7.0,2.0,22.0,2022-07-05,4.0,126.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
8,1403.0,7.0,1.0,22.0,2020-04-18,4.0,196.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza
9,1128.0,7.0,1.0,22.0,2020-11-06,4.0,91.0,Rondônia,RO,Porto Velho,0.13,2.0,4.0,Patricia,Cinza

In [19]:
#Criando um dataframe da tabela SAS Regioes
regioes_dataframe = sas.sasdata(libref='gilberto', table='Regioes').to_df()

#Fazendo merge do dataframe anterior com o dataframe Regioes
regioes_merge = pd.merge(merge_cores, regioes_dataframe, on="CodRegiao")

#Renomando a coluna Nome
regioes_merge.rename(columns={'Nome': 'NomeRegiao'}, inplace=True)

In [20]:
#Criando um dataframe da tabela SAS Tamanhos
tamanhos_dataframe = sas.sasdata(libref='gilberto', table='Tamanhos').to_df()

#Fazendo o merge do dataframe anterior com o dataframe Tamanhos
tamanhos_merge = pd.merge(regioes_merge, tamanhos_dataframe, on="CodTamanho")

#Renomeando a coluna Descrição
tamanhos_merge.rename(columns={'Descricao': 'DescricaoTamanho'}, inplace=True)

In [21]:
#Criando um dataframe da tabela SAS Produtos
produtos_dataframe = sas.sasdata(libref='gilberto', table='Produtos').to_df()

#Fazendo o merge da tabela anterior como o dataframe Produtos
produtos_merge = pd.merge(tamanhos_merge, produtos_dataframe, left_on="CodProduto", right_on="idProduto")

#Renomeando a coluna Descricao
produtos_merge.rename(columns={'Descricao': 'DescricaoProduto'}, inplace=True)

In [22]:
#Criando um dataframe da tabela SAS Grupos
grupos_dataframe = sas.sasdata(libref='gilberto', table='Grupos_corrigido').to_df()

#Fazendo o merge da tabela anterior como o dataframe Grupos
grupos_merge = pd.merge(produtos_merge, grupos_dataframe, on="CodGrupo")

#Renomeando a coluna Descricao
grupos_merge.rename(columns={'Descricao': 'DescricaoGrupo'}, inplace=True)

grupos_merge.head(10)

,CodProduto,CodCor,CodTamanho,CodEstado,DataVenda,Vendedor,QtdeVendida,NomeEstado,Sigla,Capital,...,NomeVendedor,DescricaoCor,NomeRegiao,DescricaoTamanho,idProduto,DescricaoProduto,CodGrupo,CodDepto,PrecoUnitario,DescricaoGrupo
0,2909.0,7.0,1.0,22.0,2019-05-02,4.0,33.0,Rondônia,RO,Porto Velho,...,Patricia,Cinza,Norte,Pequeno,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
1,2909.0,5.0,1.0,2.0,2021-10-30,1.0,155.0,Alagoas,AL,Maceió,...,Marcelo,Preto,Nordeste,Pequeno,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
2,2909.0,4.0,2.0,3.0,2021-12-22,5.0,137.0,Amapá,AP,Macapá,...,Igor,Vermelho,Norte,Médio,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
3,2909.0,7.0,3.0,21.0,2021-09-07,1.0,132.0,Rio Grande do Sul,RS,Porto Alegre,...,Marcelo,Cinza,Sul,Grande,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
4,2909.0,7.0,4.0,4.0,2021-04-14,5.0,91.0,Amazonas,AM,Manaus,...,Igor,Cinza,Norte,Extra Grande,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
5,2909.0,4.0,4.0,22.0,2021-07-09,4.0,196.0,Rondônia,RO,Porto Velho,...,Patricia,Vermelho,Norte,Extra Grande,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
6,2909.0,6.0,4.0,1.0,2020-02-22,5.0,159.0,Acre,AC,Rio Branco,...,Igor,Branco,Norte,Extra Grande,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
7,2909.0,9.0,4.0,14.0,2021-01-29,2.0,44.0,Pará,PA,Belém,...,João,Laranja,Norte,Extra Grande,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
8,2909.0,3.0,4.0,21.0,2020-01-26,1.0,104.0,Rio Grande do Sul,RS,Porto Alegre,...,Marcelo,Amarelo,Sul,Extra Grande,2909.0,PRODUTO que contem código 2909,8.0,6.0,457.0,Grupo 8
9,604.0,7.0,1.0,14.0,2020-02-09,4.0,149.0,Pará,PA,Belém,...,Patricia,Cinza,Norte,Pequeno,604.0,PRODUTO que contem código 604,8.0,7.0,92.0,Grupo 8

In [23]:
#Fazendo o merge do dataframe anterior com o dataframe departamentos
departamentos_merge = pd.merge(grupos_merge, departamentos_dataframe, on="CodDepto")

#Renomeando a coluna Descricao
departamentos_merge.rename(columns={'Descricao': 'DescricaoDepto'}, inplace=True)

In [38]:
#Mudando o tipo de dados das colunas para int - Números inteiros
departamentos_merge['CodProduto'] = departamentos_merge['CodProduto'].astype(int)
departamentos_merge['CodCor'] = departamentos_merge['CodCor'].astype(int)
departamentos_merge['CodTamanho'] = departamentos_merge['CodTamanho'].astype(int)
departamentos_merge['CodEstado'] = departamentos_merge['CodEstado'].astype(int)
departamentos_merge['Vendedor'] = departamentos_merge['Vendedor'].astype(int)
departamentos_merge['QtdeVendida'] = departamentos_merge['QtdeVendida'].astype(int)
departamentos_merge['CodRegiao'] = departamentos_merge['CodRegiao'].astype(int)
departamentos_merge['CodVend'] = departamentos_merge['CodVend'].astype(int)
departamentos_merge['idProduto'] = departamentos_merge['idProduto'].astype(int)
departamentos_merge['CodGrupo'] = departamentos_merge['CodGrupo'].astype(int)
departamentos_merge['CodDepto'] = departamentos_merge['CodDepto'].astype(int)
departamentos_merge['PrecoUnitario'] = departamentos_merge['PrecoUnitario'].astype(int)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15488 entries, 0 to 15487
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CodProduto        15488 non-null  int32
 1   CodCor            15488 non-null  int32
 2   CodTamanho        15488 non-null  int32
 3   CodEstado         15488 non-null  int32
 4   DataVenda         15488 non-null  datetime64[ns]
 5   Vendedor          15488 non-null  int32
 6   QtdeVendida       15488 non-null  int32
 7   NomeEstado        15488 non-null  object
 8   Sigla             15488 non-null  object
 9   Capital           15488 non-null  object
 10  PercImposto       15488 non-null  float64
 11  CodRegiao         15488 non-null  int32
 12  CodVend           15488 non-null  int32
 13  NomeVendedor      15488 non-null  object
 14  DescricaoCor      15488 non-null  object
 15  NomeRegiao        15488 non-null  object
 16  DescricaoTamanho  15488 non-null  object
 17  idProduto         15488 non-null  int32
 18  DescricaoProduto  15488 non-null  object
 19  CodGrupo          15488 non-null  int32
 20  CodDepto          15488 non-null  int32
 21  PrecoUnitario     15488 non-null  int32
 22  DescricaoGrupo    15488 non-null  object
 23  DescricaoDepto    15488 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(12), object(10)
memory usage: 2.2+ MB

In [40]:
departamentos_merge.to_csv('SDCAcademy.csv',  decimal=',', float_format='%.3f')